@font-face {
  font-family: 'Graphik Thin';
  font-style: normal;
  font-weight: 100;
  font-display: auto;
  src: url('~assets/fonts/GraphikThin.otf') format('opentype');
}

@font-face {
  font-family: 'Graphik Extra Light';
  font-style: normal;
  font-weight: 200;
  font-display: auto;
  src: url('~assets/fonts/GraphikExtralight.otf') format('opentype');
}

@font-face {
  font-family: 'Graphik Light';
  font-style: normal;
  font-weight: 300;
  font-display: auto;
  src: url('~assets/fonts/GraphikLight.otf') format('opentype');
}

@font-face {
  font-family: 'Graphik Regular';
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  src: url('~assets/fonts/GraphikRegular.otf') format('opentype');
}

@font-face {
  font-family: 'Graphik Medium';
  font-style: normal;
  font-weight: 500;
  font-display: auto;
  src: url('~assets/fonts/GraphikMedium.otf') format('opentype');
}

@font-face {
  font-family: 'Graphik Semibold';
  font-style: normal;
  font-weight: 600;
  font-display: auto;
  src: url('~assets/fonts/GraphikSemibold.otf') format('opentype');
}

@font-face {
  font-family: 'Graphik Bold';
  font-style: normal;
  font-weight: 700;
  font-display: auto;
  src: url('~assets/fonts/GraphikBold.otf') format('opentype');
}

@font-face {
  font-family: 'Graphik Super';
  font-style: normal;
  font-weight: 800;
  font-display: auto;
  src: url('~assets/fonts/GraphikSuper.otf') format('opentype');
}

@font-face {
  font-family: 'Graphik Black';
  font-style: normal;
  font-weight: 900;
  font-display: auto;
  src: url('~assets/fonts/GraphikBlack.otf') format('opentype');
}
